.header{
    max-width: 700px;
    position: relative;
}

.cross{
    width: 50px;
    position: fixed;
    right: 25px;
    top: 38px;
    width: 50px;
    z-index: 10000;
    @media (max-width: 550px) {
        width: 35px;
        top: 18px;
    }
}   