.button {
background-color: var(--color-button-bg-gray);
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 9px;
    color: var(--color-default-white);
    font-size: clamp(17px, 3.33vw, 24px);
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 30px;
    padding: clamp(7px, 3vw, 10px) clamp(15px, 3vw, 25px);

    img {
        width: clamp(20px, 4.2vw, 30px);
    }
}

