.button {
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 6px;
    font-size: clamp(17px, 2vw, 24px);
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid black;
    transition-duration: 0.4s;
    border-radius: 30px;
    padding: clamp(7px, 1vw, 10px) clamp(15px, 3vw, 25px);

    img {
        width: clamp(20px, 2.5vw, 30px);
    }
}

.button:hover {
    background-color: rgba(56, 56, 56, 0.479);
    color: white;
    border: 2px solid black;
}