.productCard {
    padding: clamp(15px, 3vw, 20px) clamp(10px, 2vw, 14px);
    background-color: white;
    margin-bottom: 10px;
    border-radius: 8px;
}

.seller {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 8px 0;

    h5 {
        font-size: 20px;
        font-weight: 500;
    }
}

.logo {
    width: 35px;
    border-radius: 50%;
    height: 35px;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    gap: 10px;

    h3 {
        font-size: 22px;
        font-weight: 500;
        padding: 5px 0 8px 0;
    }

    p {
        padding: 5px 0 0 0;
        font-size: 16px;
        font-weight: 400;
    }
}

.prices {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.img {
    object-fit: cover;
    border-radius: 18px;
    overflow: hidden;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        display: flex;
        align-items: center;
        text-align: end;
        width: 100%;
        max-width: 200px;
        border: none;
        background: #fff;
        border-radius: 50%;
        gap: 10px;
    }
}

.like {
    justify-content: start;
}

.bag {
    justify-content: end;
}

svg {
    width: 30px;
}

.originalPrice {
    text-decoration: line-through;
}

.salePrice {
    color: #2b05ff;
}

.searchProduct {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
    height: 370px;

    .img {
        border-radius: 30px;

        img {
            height: 250px;

            @media (max-width: 450px) {
                height: 150px;
            }
        }
    }

    .info {
        gap: 0;
flex-grow: 1;
justify-content: space-between;        
        h2 {
            padding: 0;
        }

        h3 {
            padding: 10px 0 0 0;
        }
    }

    .prices {
        justify-content: space-between;
        align-items: end;

    }

    @media (max-width: 450px) {
        height: 270px;
    }
}