.home {
    position: relative;
}

.container {
    padding: 0 !important;
}

.wrap.scrolled {
    background-color: var(--color-default-bg) !important;
}

.container {
    padding: 0;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 70px 32px 16px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.6s ease;
    max-width: 700px;
    z-index: 1000;
    @media (max-width: 550px) {
        padding: 25px 70px 25px 16px;

    }
}
.icon{
    @media (max-width: 550px) {
        width: 35px;
    }
}
.logo {
    display: flex;
    align-items: center;

    h1 {
        font-size: 40px;
        color: var(--color-default-white);
        white-space: nowrap;
    }

    img {
        width: 60px;
    }
}


.background {
    height: 60vh;
    background-image: url('/bg_bread.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    
    .title {
        font-weight: 600;
        bottom: 20%;
        left: 10px;
        position: absolute;
    
        h2 {
            font-size: clamp(30px, 8.08vw, 60px);
        }
    }
}

.hero {
    position: relative;
    padding-top: 60vh;
}

.catalogItems {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    div {
        text-align: center;
        
            p {
                font-size: 16px;
                white-space: nowrap;
            }
    }
}

.catalogItems::-webkit-scrollbar {
    display: none;
}

.catalogItem {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    background-color: var(--color-default-white);
    overflow: hidden;
    margin-bottom: 10px;
}

.title2 {
    padding: 15px 0 18px 10px;
    font-size: 36px;
}

.buttons {
    display: flex;
    padding: 0 10px;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.buttons::-webkit-scrollbar {
    display: none;
}

.catalog {
    padding: 10px 15px;
    overflow-y: auto;
    background-color: var(--color-default-bg);
    position: relative;
    border-radius: 35px;
    top: -30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(0);
}

.catalog.scrolled {
    transform: translateY(-20px);
}