:root {
  --color-default-black: #000;

}

* {
  font-family: 'Euclid Circular A', sans-serif;

  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 700px;
}


picture,
img,
svg {

  display: block;
  width: 100%;
  height: auto;
}

a,
span,
button,
label,
input,
textarea {
  display: inline-block;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
}

a,
button,
label,
textarea,
li {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

q::after,
q::before {
  content: '';
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#root>* {
  flex-shrink: 0;
}

#root>main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
}